[project]
	description = my english dairy...
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Xianbing Teng (elishateng)
[access "refs/for/refs/*"]
	read = group user/Xianbing Teng (elishateng)
	push = group user/Xianbing Teng (elishateng)
	label-Code-Review = -2..+2 group user/Xianbing Teng (elishateng)
	label-Verified = -1..+1 group user/Xianbing Teng (elishateng)
	rebase = group user/Xianbing Teng (elishateng)
	removeReviewer = group user/Xianbing Teng (elishateng)
	submit = group user/Xianbing Teng (elishateng)
[access "refs/heads/*"]
	read = group user/Xianbing Teng (elishateng)
	create = group user/Xianbing Teng (elishateng)
	push = +force group user/Xianbing Teng (elishateng)
	pushMerge = group user/Xianbing Teng (elishateng)
[access "refs/tags/*"]
	push = group user/Xianbing Teng (elishateng)
	push = +force group user/Xianbing Teng (elishateng)
